
apiVersion: apps/v1

kind: Deployment

metadata:

  name: demo-app

  annotations:

    deployment.kubernetes.io/revision: "1"

spec:

  replicas: 2

  selector:

    matchLabels:

      app: demo

  template:

    metadata:

      labels:

        app: demo

      annotations:

        prometheus.io/scrape: "true"

        prometheus.io/port: "8080"

    spec:

      containers:

      - name: app

        image: nginx:1.21

        ports:

        - containerPort: 80

        livenameSpace: httpGet

          path: /

          port: 80

        readinessProbe:

          httpGet:

            path: /

            port: 80

